/* You can add global styles to this file, and also import other style files */
// @import 'sass/bootstrap';
.page {
	padding-top: 20px;
	padding-bottom: 20px;
}
input, select {
	&.ng-touched.ng-invalid {
		border: 1px solid tomato;
	}
}

input, select {
	&.ng-touched.ng-valid {
		border: 1px solid green;
	}
}

label {
	user-select: none;
}