<h2 class="card-header bg-secondary text-light">Separate components</h2>

<form class="card-body" [formGroup]="separateForm" (ngSubmit)="submit()">
  <div *ngFor="let item of formFields">
    <div *ngIf="isArray(item)">
        <div formArrayName="{{ item[0].name }}">
          <div class="form-group" *ngFor="let phone of item">
            <app-inputs [item]="phone" [group]="separateForm"></app-inputs>
            <app-input-array [item]="phone" [group]="separateForm"></app-input-array>
          </div>
        </div>
    </div>

    <app-inputs *ngIf="notArray(item)" [item]="item" [group]="separateForm"></app-inputs>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <button type="submit" class="btn btn-secondary btn-block" [disabled]="separateForm.invalid">Send</button>
    </div>
  </div>
</form>